NodeRed-JSON
[
  {
    "id": "mqtt_dados",
    "type": "mqtt in",
    "z": "1",
    "name": "Dados Clima",
    "topic": "estacao/dados",
    "broker": "mqtt_broker",
    "x": 130,
    "y": 80,
    "wires": [["split_dados"]]
  },
  {
    "id": "split_dados",
    "type": "function",
    "z": "1",
    "name": "Separar Dados",
    "func": "let parts = msg.payload.split(\" \");\nmsgTemp = { payload: parseFloat(parts[0].split(\":\")[1]) };\nmsgUmi  = { payload: parseFloat(parts[1].split(\":\")[1]) };\nmsgPres = { payload: parseFloat(parts[2].split(\":\")[1]) };\nmsgMQ2  = { payload: parseInt(parts[4].split(\":\")[1]) };\nmsgNiv  = { payload: parseInt(parts[3].split(\":\")[1]) };\n\nreturn [msgTemp, msgUmi, msgPres, msgNiv, msgMQ2];",
    "outputs": 5,
    "x": 310,
    "y": 80,
    "wires": [
      ["gauge_temp"],
      ["gauge_umid"],
      ["gauge_pres"],
      ["nivel_agua"],
      ["mq2_valor"]
    ]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "1",
    "name": "Temperatura",
    "group": "grupo_clima",
    "order": 1,
    "width": 4,
    "height": 2,
    "gtype": "gage",
    "title": "Temperatura (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "50",
    "colors": ["#00bfff", "#ffff00", "#ff0000"],
    "x": 510,
    "y": 40,
    "wires": []
  },
  {
    "id": "gauge_umid",
    "type": "ui_gauge",
    "z": "1",
    "name": "Umidade",
    "group": "grupo_clima",
    "order": 2,
    "width": 4,
    "height": 2,
    "gtype": "gage",
    "title": "Umidade (%)",
    "label": "%",
    "format": "{{value}}",
    "min": "0",
    "max": "100",
    "colors": ["#ffcc00", "#00ff00", "#0000ff"],
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "gauge_pres",
    "type": "ui_gauge",
    "z": "1",
    "name": "Pressão",
    "group": "grupo_clima",
    "order": 3,
    "width": 4,
    "height": 2,
    "gtype": "gage",
    "title": "Pressão (hPa)",
    "label": "hPa",
    "format": "{{value}}",
    "min": "950",
    "max": "1050",
    "colors": ["#ff0000", "#ffff00", "#00ff00"],
    "x": 510,
    "y": 120,
    "wires": []
  },
  {
    "id": "nivel_agua",
    "type": "ui_text",
    "z": "1",
    "group": "grupo_alerta",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Nível da Água",
    "label": "Distância até água (cm)",
    "format": "{{msg.payload}} cm",
    "x": 540,
    "y": 180,
    "wires": []
  },
  {
    "id": "mq2_valor",
    "type": "ui_text",
    "z": "1",
    "group": "grupo_alerta",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Fumaça MQ2",
    "label": "Valor MQ-2",
    "format": "{{msg.payload}}",
    "x": 530,
    "y": 220,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Broker MQTT",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "node-red-estacao",
    "usetls": false
  },
  {
    "id": "grupo_clima",
    "type": "ui_group",
    "name": "Clima",
    "tab": "dashboard_estacao",
    "order": 1,
    "disp": true,
    "width": 12
  },
  {
    "id": "grupo_alerta",
    "type": "ui_group",
    "name": "Alertas",
    "tab": "dashboard_estacao",
    "order": 2,
    "disp": true,
    "width": 12
  },
  {
    "id": "dashboard_estacao",
    "type": "ui_tab",
    "name": "Estação",
    "icon": "dashboard",
    "order": 1
  }
]
